.notification-box{
    margin: 100px 20px;
}
.notification-box h2{
   text-align: left;
   padding-bottom: 15px;
}
table {
border-collapse: collapse;
width: 100%;
border: 2px solid #8d8d8d;
}

th{
    text-align: center;
    padding: 8px;
}

td {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}